h1{
    text-align: center;
}
    
.jumbotron{

    background-attachment: fixed;
}
#points{
    visibility: show;
    background-color: burlywood;
    height:300px;
}
#points p{
    text-align: center;
    transform: translate(0%,190%);
    font-size: 20px;
}
